# Google Sheets Published CSV Links
SHEET_MEMBERS=
SHEET_PROJECTS=
SHEET_PUBLICATIONS=
SHEET_AWARDS=
SHEET_OPPORTUNITIES=
SHEET_NEWS=

# Supabase URLs
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=