# Google Sheets Published CSV Links
NEXT_PUBLIC_SHEET_MEMBERS=
NEXT_PUBLIC_SHEET_PROJECTS=
NEXT_PUBLIC_SHEET_PUBLICATIONS=
NEXT_PUBLIC_SHEET_AWARDS=
NEXT_PUBLIC_SHEET_OPPORTUNITIES=
NEXT_PUBLIC_SHEET_NEWS=